/* Runner and pronouns panel. */
#runner-name1 {
	width: 700px;
	height: 68px;
	line-height: 68px;
	right: 0;
	top: 828px;

	padding-left: 15px;
	padding-right: 15px;
}

/* Game name panel. */
#game-name {
	width: 700px;
	height: 97px;
	line-height: 97px;
	left: 456px;
	top: 828px;

	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 700px;
	height: 68px;
	line-height: 68px;
	left: 456px;
	bottom: 87px;

	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 700px;
	height: 97px;
	line-height: 97px;
	right: 0;
	bottom: 87px;
}

/* Sponsor panel. */
#sponsor-container {
    width: 451px;
    height: 992px;
    left: 0;
    top: 0;
}

/* Max sponsor size. */
img#sponsor-img {
	max-width: 90%;
	max-height: 90%;
}
