body {
	background: url('../img/layouts/Spook_16x9Bno.png') no-repeat;
}

.runner-container {
	width: 423px;
	height: 55px;
	line-height: 55px;
    bottom: 304px;
}

#runner-container1 {
	left: 0;
}

#runner-container2 {
	right: 0;
}

#game-name {
    width: 380px;
    height: 84px;
    line-height: 84px;
    bottom: 160px;
    left: 442px;
}

#info-container {
    width: 380px;
    height: 45px;
    line-height: 45px;
	bottom: 115px;
	left: 442px;
}

#timer {
    width: 396px;
    height: 55px;
    line-height: 55px;
    left: 442px;
    bottom: 304px;
    font-size: 40pt;
}
