/* Runner and pronouns panel. */
#runner-name1 {
	width: 386px;
	height: 56px;
	line-height: 56px;
	left: 5px;
	top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Game name panel. */
#game-name {
	width: 338px;
    height: 82px;
    line-height: 82px;
    left: 416px;
    bottom: 144px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Category panel. */
#category {
	width: 338px;
    height: 49px;
    line-height: 49px;
    left: 416px;
    bottom: 91px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Estimate panel. */
#estimate-container {
	width: 338px;
    height: 49px;
    line-height: 49px;
    left: 779px;
    bottom: 91px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Timer panel. */
#timer {
	width: 338px;
    height: 82px;
    line-height: 82px;
    left: 779px;
    bottom: 144px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 451px;
	height: 537px;
	left: 0;
	bottom: 87px;
}

/* Max sponsor size. */
img#sponsor-img {
	max-width: 90%;
	max-height: 90%;
}