#runner-name1 {
	top: 326px;
    left: 10px;
    width: 228px;
}

#pronouns1 {
	top: 331px;
	left: 248px;
}

#game-name {
	left: 676px;
}

#category {
    left: 670px;
	width: 591px;
}

#timer {
	right: 25px;
}

#estimate-container {
	right: 20px;
	width: 590px;
}

#game-name, #timer {
	bottom: 93px;
	width: 580px;
}

#category, #estimate-container {
	bottom: 18px;
}
