.runner-name {
	bottom: 12px;
	width: 321px;
}

.pronouns {
	bottom: 17px;
}

#runner-name1 {
	left: 10px;
}

#pronouns1 {
	left: 341px;
}

#runner-name2 {
	right: 165px;
}

#pronouns2 {
	right: 15px;
}

#game-name {
	font-size: 4em;
    bottom: 259px;
    height: 84px;
    line-height: 84px;
}

#category {
    bottom: 184px;
}

#timer {
    bottom: 62px;
    height: 106px;
    line-height: 106px;
}

#estimate-container {
    bottom: 9px;
    height: 53px;
    line-height: 53px;
}

#game-name, #timer {
    left: 666px;
    width: 580px;
}

#category, #estimate-container {
    left: 661px;
    width: 590px;
}
