body {
	background: url('../img/layouts/Calithon_4x3_nocam.png') no-repeat;
}

#runner-container1 {
	width: 380px;
	height: 45px;
	line-height: 45px;
	top: 403px;
	left: 0;
}

#game-name {
	width: 380px;
	height: 65px;
	line-height: 65px;
	top: 0;
	left: 0;
}

#info-container {
	width: 380px;
	height: 45px;
	line-height: 45px;
	top: 65px;
	left: 0;
}

#timer {
	width: 396px;
	height: 65px;
	line-height: 65px;
	left: 0;
	top: 338px;
}