body {
	background: url('../img/layouts/Spook_4x3.png') no-repeat;
}

#runner-container1 {
	width: 380px;
	height: 45px;
	line-height: 45px;
	top: 85px;
	left: 0;
}

#game-name {
	width: 380px;
	height: 85px;
	line-height: 85px;
	top: 0;
	left: 0;
}

#info-container {
	width: 380px;
	height: 45px;
	line-height: 45px;
	top: 443px;
	left: 0;
}

#timer {
	font-size: 54pt;
	width: 396px;
	height: 85px;
	line-height: 85px;
	left: 0;
	top: 358px;
}
