body {
	background: url('../img/layouts/Spook_4x3B.png') no-repeat;
}

.runner-container {
	width: 423px;
	height: 45px;
	line-height: 45px;
	bottom: 194px;
}

#runner-container1 {
	left: 0;
}

#runner-container2 {
	right: 0;
}

#game-name {
    width: 786px;
    height: 88px;
    line-height: 88px;
    bottom: 103px;
    left: 239px;
}

#info-container {
	width: 786px;
	height: 45px;
	line-height: 45px;
	bottom: 58px;
	left: 239px;
}

#timer {
	font-size: 32pt;
	width: 396px;
	height: 45px;
	line-height: 45px;
	left: 442px;
	bottom: 194px;
}
