/* Runner and pronouns panel. */
.runner-name {
	width: 628px;
    height: 67px;
    line-height: 67px;
    bottom: 291px;

    padding-left: 15px;
    padding-right: 15px;
}

/* Player 1 info position. */
#runner-name1 {
    left: 0;
}

/* Player 2 info position. */
#runner-name2 {
	right: 0;
}

/* Game name panel. */
#game-name {
	width: 330px;
	height: 60px;
	line-height: 60px;
	left: 643px;
	top: 556px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Category and estimate panel. */
#info-container {
	width: 330px;
	height: 36px;
	line-height: 36px;
	left: 643px;
	top: 618px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Timer panel. */
#timer {
    font-size: 48px;
    width: 594px;
    height: 67px;
    line-height: 67px;
    left: 663px;
    bottom: 291px;
}

/* Sponsor image max size. */
img#sponsor-img {
	max-width: 45%;
}
