/* Runner and pronouns panels. */
.runner-name {
	width: 770px;
	height: 45px;
	line-height: 45px;
	bottom: 430px;
	padding-left: 15px;
	padding-right: 15px;
}

#runner-name1 {
	left: 0;
}

#runner-name2 {
	right: 0;
}

/* Game name panel. */
#game-name {
	width: 541px;
	height: 93px;
	line-height: 93px;
	left: 354px;
	bottom: 264px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Category panel. */
#category {
	width: 541px;
	height: 56px;
	line-height: 56px;
	left: 354px;
	bottom: 203px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Estimate panel. */
#estimate-container {
	width: 541px;
	height: 56px;
	line-height: 56px;
	right: 399px;
	bottom: 203px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 541px;
	height: 93px;
	line-height: 93px;
	right: 399px;
	bottom: 264px;
	padding-left: 15px;
	padding-right: 15px;
}