/* Runner and pronouns panel. */
#runner-name1 {
    width: 541px;
    height: 46px;
    line-height: 46px;
    left: 32px;
    top: 374px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Game name panel. */
#game-name {
	width: 541px;
	height: 93px;
	line-height: 93px;
	left: 32px;
	top: 452px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Category panel. */
#category {
    width: 541px;
    height: 56px;
    line-height: 56px;
    left: 32px;
    top: 550px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Estimate panel. */
#estimate-container {
    width: 541px;
    height: 56px;
    line-height: 56px;
    left: 32px;
    top: 739px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 541px;
	height: 93px;
	line-height: 93px;
	left: 32px;
	top: 641px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Sponsor panel. */
#sponsor-container {
    position: absolute;
    width: 585px;
    height: 315px;
    left: 0;
    top: 677px;
    margin: 0.5rem;
}

img#sponsor-img {
	max-width: 90%;
	max-height: 90%;
}