@font-face {
	font-family: 'Barlow SemiBold';
	src: url('../fonts/Barlow-SemiBold.ttf');
}

@font-face {
	font-family: 'Barlow Bold';
	src: url('../fonts/Barlow-Bold.ttf');
}

body {
	font-family: 'Barlow SemiBold', sans-serif;
	padding: 0;
	margin: 0;
	width: 1920px;
	height: 1080px;
	position: absolute;
}

.runner-name, #category, #estimate {
	color: #3ba894;
}

.pronouns, #game-name, #timer {
	color: #f9f9f9;
}

.runner-name {
	background: black;
	font-size: 2em;
	padding: 0 5px;
	width: 290px;
	height: 50px;
	line-height: 50px;
	position: absolute;
}

.pronouns {
	background: darkmagenta;
	font-size: 1.75em;
	text-align: center;
	width: 150px;
	height: 40px;
	line-height: 40px;
	position: absolute;
}

#game-name, #timer {
	background-color: maroon;
	font-size: 5em;
	text-align: center;
	padding: 0 5px;
	width: 434px;
	height: 120px;
	line-height: 120px;
	position: absolute;
}

#category, #estimate-container {
	background-color: darkblue;
	font-size: 2em;
	text-align: center;
    padding: 0 5px;
	width: 445px;
	height: 75px;
	line-height: 75px;
	position: absolute;
}

img#estimate-label {
	display: inline-block;
	height: 32px;
	vertical-align: text-bottom;
}

#estimate {
	display: inline-block;
}

#timer {
	font-family: 'Barlow Bold', sans-serif;
}

.timer_stopped {
	color: #c0c0c0;
}

.timer_finished {
	color: #50ff50;
}

#sponsor-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

img#sponsor-img {
	max-width: 100%;
}
