#runner-name1 {
	top: 371px;
	left: 10px;
}

#pronouns1 {
	top: 376px;
	left: 310px;
}

#game-name {
	top: 466px;
	left: 16px;
}

#category {
    top: 586px;
    left: 10px;
}

#timer {
	top: 696px;
	left: 16px;
}

#estimate-container {
	top: 816px;
	left: 10px;
}
