#runner-container1 {
	width: 526px;
	height: 45px;
	line-height: 45px;
	bottom: 243px;
	left: 0;
}

#game-name {
	width: 526px;
	height: 85px;
	line-height: 85px;
	bottom: 288px;
	left: 0;
}

#info-container {
	width: 526px;
	height: 45px;
	line-height: 45px;
	bottom: 110px;
	left: 0;
}

#timer {
	width: 526px;
	height: 85px;
	line-height: 85px;
	left: 0;
	bottom: 155px;
}
