/* Runner and pronouns panel. */
#runner-name1 {
	width: 781px;
	height: 67px;
	line-height: 67px;
	left: 0;
	top: 383px;

	padding-left: 15px;
	padding-right: 15px;
}

/* Game name panel. */
#game-name {
	width: 781px;
	height: 97px;
	line-height: 97px;
	left: 0;
	top: 0;

	padding-left: 15px;
	padding-right: 15px;
}

/* Category and estimate panel. */
#info-container {
	width: 781px;
	height: 67px;
	line-height: 67px;
	left: 0;
	top: 98px;

	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
	width: 811px;
	height: 96px;
	line-height: 96px;
	left: 0;
	top: 450px;
}

/* Sponsor panel. */
#sponsor-container {
	width: 811px;
	height: 209px;
	left: 0;
	top: 169px;
}

img#sponsor-img {
	max-width: 90%;
	max-height: 90%;
}
