#runner-name1 {
	top: 381px;
    left: 10px;
    width: 466px;
}

#pronouns1 {
	top: 386px;
	left: 486px;
}

#game-name {
	left: 676px;
}

#category {
    left: 670px;
	width: 591px;
}

#timer {
	right: 25px;
}

#estimate-container {
	right: 20px;
	width: 590px;
}

#game-name, #timer {
	bottom: 93px;
	width: 580px;
}

#category, #estimate-container {
	bottom: 18px;
}
