/* Runner and pronouns panel. */
#runner-name1 {
	width: 541px;
	height: 46px;
	line-height: 46px;
	left: 32px;
	top: 374px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Game name panel. */
#game-name {
width: 541px;
height: 93px;
line-height: 93px;
left: 32px;
top: 452px;
padding-left: 15px;
padding-right: 15px;
}

/* Category panel. */
#category {
	width: 541px;
	height: 56px;
	line-height: 56px;
	left: 32px;
	top: 550px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Estimate panel. */
#estimate-container {
	width: 541px;
	height: 56px;
	line-height: 56px;
	left: 32px;
	top: 739px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Timer panel. */
#timer {
width: 541px;
height: 93px;
line-height: 93px;
left: 32px;
top: 641px;
padding-left: 15px;
padding-right: 15px;
}