/* Host panel. */
#host-container {
    font-size: 32px;
    width: 1160px;
    height: 54px;
    line-height: 54px;
    position: absolute;
    top: 102px;
    left: 35px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

/* Up Next label. */
#up-next-label {
    font-size: 32px;
    position: absolute;
    top: 333px;
    left: 1282px;
}

/* Game panel. */
#up-next-game {
    font-family: 'Barlow Bold';
    font-size: 72px;
    width: 603px;
    line-height: 103px;
    position: absolute;
    top: 381px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

/* Up Next info panel. */
#up-next-info-container {
    width: 611px;
    line-height: 52px;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 489px;
    right: 0;
    padding-left: 15px;
    padding-right: 7.5px;
}

/* On deck game 1. */
#on-deck-game1 {
    font-family: 'Barlow Bold';
    font-size: 60px;
    width: 542px;
    line-height: 93px;
    position: absolute;
    top: 586px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

/* On deck info panel 1. */
#on-deck-info-container1 {
    width: 550px;
    line-height: 45px;
    position: absolute;
    top: 684px;
    right: 0;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 7.5px;
}

/* On deck game 2. */
#on-deck-game2 {
    font-family: 'Barlow Bold';
    font-size: 60px;
    width: 542px;
    line-height: 93px;
    position: absolute;
    bottom: 212px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
}

/* On deck info panel 2. */
#on-deck-info-container2 {
    width: 550px;
    line-height: 46px;
    position: absolute;
    bottom: 151px;
    right: 0;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 7.5px;
}

/* Info panel options. Don't change unless you know what you're doing! */
.info {
	margin-top: 3px;
	font-size: 22pt;
	float: left;
	vertical-align: middle;
	width: 100%;
	flex: 1;
	padding-right: 15px;
}

.estimate-container {
	float: right;
	font-stretch: normal;
	vertical-align: middle;
}

.estimate-label {
	display: inline-block;
	vertical-align: middle;
}

.estimate {
	display: inline-block;
	font-stretch: normal;
	font-size: 20pt;
	margin-top: 6px;
}

.estimate-label img {
	height: 27pt;
	width: 100%;
}
