/* Host panel. */
#host-container {
	font-size: 30pt;
    height: 59px;
    line-height: 59px;
    position: absolute;
    top: 78px;
    left: 101px;

    padding-left: 15px;
    padding-right: 15px;
}

/* Up Next label. */
#up-next-label {
	font-size: 24pt;
    position: absolute;
    top: 140px;
    left: 1276px;
}

/* Game panel. */
#up-next-game {
	font-family: 'ShinGoPro Bold';
    font-size: 72px;
    width: 611px;
    line-height: 127px;
    position: absolute;
    top: 195px;
    right: 0;

    padding-left: 15px;
    padding-right: 15px;
}

/* Up Next info panel. */
#up-next-info-container {
    width: 567px;
    line-height: 56px;
    position: absolute;
	display: flex;
	flex-direction: row;
    top: 323px;
    right: 0;

    padding-left: 15px;
    padding-right: 7.5px;
}

/* On Deck label. */
#on-deck-label {
    font-size: 24pt;
    position: absolute;
    top: 385px;
    left: 1343px;
}

/* On deck game 1. */
#on-deck-game1 {
	font-family: 'ShinGoPro Bold';
    font-size: 60px;
    width: 550px;
    line-height: 94px;
    position: absolute;
    top: 439px;
    right: 0;

    padding-left: 15px;
    padding-right: 7.5px;
}

/* On deck info panel 1. */
#on-deck-info-container1 {
    width: 502px;
    line-height: 53px;
    position: absolute;
    top: 532px;
    right: 0;
    display: flex;
    flex-direction: row;

    padding-left: 15px;
    padding-right: 7.5px;
}

/* On deck game 2. */
#on-deck-game2 {
	font-family: 'ShinGoPro Bold';
    font-size: 60px;
    width: 550px;
    line-height: 94px;
    position: absolute;
    top: 634px;
    right: 0;

    padding-left: 15px;
    padding-right: 7.5px;
}

/* On deck info panel 2. */
#on-deck-info-container2 {
    width: 502px;
    line-height: 53px;
    position: absolute;
    top: 727px;
    right: 0;
    display: flex;
    flex-direction: row;

    padding-left: 15px;
    padding-right: 7.5px;
}

/* Info panel options. Don't change unless you know what you're doing! */
.info {
	margin-top: 3px;
	font-size: 22pt;
	float: left;
	vertical-align: middle;
	width: 100%;
	flex: 1;
	padding-right: 15px;
}

.estimate-container {
	float: right;
	font-stretch: normal;
	vertical-align: middle;
}

.estimate-label {
	display: inline-block;
	vertical-align: middle;
}

.estimate {
	display: inline-block;
	font-stretch: normal;
	font-size: 20pt;
	margin-top: 6px;
}

.estimate-label img {
	height: 27pt;
	width: 100%;
}
