#omnibar {
	background-color: #131724;
	display: flex;
	width: 1920px;
	height: 82px;
}

#omnibar > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#omnibar-content {
	flex: 1;
}

#omnibar-content * {
	display: initial;
}

.is-single-line {
	font-size: 24pt;
}

.is-multiline {
	font-size: 16pt;
	margin: 0;
}

.is-text-centered {
	margin: 0 auto;
}

#marathon-logo {
	background-color: #002d02;
	padding: 0 1rem;
}

#charity-logo img {
	height: 82px;
}

#marathon-logo img {
	height: 64px;
}
