#omnibar {
	background-color: #111111;
	display: flex;
	width: 1280px;
	height: 55px;
}

#omnibar * {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#omnibar-content {
	flex: 1;
}

#omnibar-content * {
	margin: 0 auto;
	font-size: 18pt;
	display: initial;
}

.omnibar-text {
	margin: 0 auto;
	font-size: 18pt;
}

#charity-logo {
	background-color: #281a40;
	padding: 0 0.35rem;
}

#donation-total {
	background-color: #4b3b83;
	padding: 0 0.5rem;
	font-size: 24pt;
}

#marathon-logo {
	background-color: #4b3b83;
	padding: 0 1rem;
}

#charity-logo img {
	height: 40px;
}

#marathon-logo img {
	height: 37px;
}

/* #donation-total-container {
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: var(--omnibar-height);
	background-color: var(--omnibar-item-color);
}

#charity-logo {
	display: inline-block;
	margin-right: 1rem;
	height: var(--omnibar-height);
	vertical-align: middle;
}

#charity-logo img {
	height: 20px;
	vertical-align: middle;
	margin-left: 0.5rem;
}

#donation-total {
	display: inline-block;
	margin-right: 0.5rem;
	font-size: 24pt;
	vertical-align: middle;
}

#calithon-logo {
	height: var(--omnibar-height);
	line-height: var(--omnibar-height);
	background-color: var(--omnibar-item-color);
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

#calithon-logo img {
	height: 40px;
	vertical-align: middle;
	margin: 0 0.5rem;
} */
