#omnibar {
	background-color: #111111;
	display: flex;
	width: 1280px;
	height: 55px;
}

#omnibar > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#omnibar-content {
	flex: 1;
}

#omnibar-content * {
	display: initial;
}

.is-single-line {
	font-size: 16pt;
}

.is-multiline {
	font-size: 12pt;
	margin: 0;
}

.is-text-centered {
	margin: 0 auto;
}

#charity-logo {
	background-color: #281a40;
	padding: 0 0.5rem;
}

#donation-total {
	background-color: #4b3b83;
	padding: 0 0.5rem;
	font-size: 24pt;
}

#marathon-logo {
	background-color: #4b3b83;
	padding: 0 1rem;
}

#charity-logo img {
	height: 40px;
}

#marathon-logo img {
	height: 37px;
}
